{{#partial "content"}}
<style>
    body{
        background-color:black;
        text-align:center;
    }
</style>
<h1 style="margin-top:15%;">!!!!!!!!!!SUCCESSFUL!!!!!!!!!!</h1>

{{/partial}}

{{> layout.hbs}}